@charset "utf-8";
@import '_normalize.scss';
/* CSS Document */
*{margin:0;
  padding:0;
  border:0;
  font-size:100%;
  
  font-family: "Regular";}
html, body 
{
	height:100%;
	width: 100%;
	min-width: 360px;
} 

body
{
	background: url(../img/backgroundspace.jpg);
	background-size: cover;
	background-attachment:fixed;
}

header, footer, article, section, main, nav
{ 
	display:block;
}

#sait 
{ 
    width:auto;
	margin: 0 auto;
}
		
header
{   margin-top:10px;
	height:150px;
    margin-left:3%;
	margin-right:3%;
    background: transparent;		 
}	
	   
h1 
{   
	float:left;
    margin-top:35px;
    margin-left:5px;
	font-size: 60px;
	color: #204060;
	-webkit-text-stroke: 1px #7878dd;
	font-family: 'Berkshire Swash', cursive;
}	
	  

nav 
{  
	border: 1px solid #809fff;
	margin-left:4%;
	margin-right:4%;
    height:48px;
	border-radius: 10px; 
	background: -webkit-linear-gradient(270deg, rgba(25, 25, 53, 0.7) 0%, rgba(25, 25, 53,0.7) 47%, rgba(7,0,54,0.7) 98%);	
}
	
		   
nav 
{
	ul 
      { 
	    list-style-type:none;
	    text-transform:uppercase;	
	    li 	 
		{	  
			a 	   
			{ 		 
				display:block;
                font-size: 20px;
	            line-height:48px;
	            text-align:center;
                color: #668cff;
	            background: transparent;		   
	            text-decoration:none;
	            font-family: 'Philosopher', sans-serif;
			}
			
			&:hover
			{
				color:white;
			}
        }
    }
}		   
nav 
{
	ul 
	{
		li
		{
			float: left;	 
			position:relative;
			cursor:pointer; 
			width: 25%;		   		   			   
			background: transparent;  
						
		    &:hover 
			{ 
	          background: #00264d;
	          transition:all .4s;				   
            }
        }
    }
}
			
	
#menu_glav
{
    border-radius: 10px 0px 0px 10px;
}				

#menu_stat
{
    
    border-radius: 0px 10px 10px 0px;
}

main
{
	border: 1px solid #809fff;
	height:auto;	
    margin-right:4%;
	margin-left:4%;
	margin-top: 20px;
	border-radius: 10px 10px 2px 2px;
	color:#809fff;	
	background: rgba(23, 23, 29, 0.8);	

article
{
	text-align: center;
	height:auto;
    .article_head 
    {
		margin:4%;
	border: 1px solid #809fff;
	h3
	{		
		margin:1%;	
margin-top:2%;
		font-size: 32px;	
		font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;	
		color: #668cff;
	}			
	img
		{
			width: 70%;
			margin:1%;
			
		}
	p{
		font-size: 22px;
		margin:1%;
		font-weight:bold;
		font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
		color: #668cff;
	}
}
}		
}			
	
footer
{
	height: 50px;
	margin-left:4%;
	margin-right:4%;
	margin-top: 15px;
	clear:both;
	color:#6E7B8B;
	background: rgba(23, 23, 29, 0.8);
	text-align: center;
    border-radius: 2px 2px 10px 10px; 
	margin-bottom: 15px;
	border: 1px solid #809fff;


	
}	

.article_body
{
	text-align: justify;
	p{
		margin: 4%;	
	font-size: 18px;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	color: #8ca8fc;
	}
}

.article_body_img
{	
	width: 70%;
	margin-left: 15%;
	text-align: center;
	p
	{
	font-size: 14px;
	margin-top:1%;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	color: #DCDCDC;
	}  
	
	img{
		
		width:100%;
	}

}

a 
{
	img 
	{   
		float: left; 	
		width: 135px; 	
		height: 135px;	
		margin-top:15px;
	}
}



#footer_info
{
	font-size: 14px;
	color:  #668cff;
	margin-top: 1%;

	a
	{
		color:#668cff;
	}

	a:hover
	{
		color:white;	
		text-decoration: unset;
	}
}

@media screen and (max-width: 1000px)
{
	.article_body{			
		p{
			font-size: 0.97em;}
			.article_body_img{
				p{
					font-size: 0.97em;}
			}
	}

	a{
		img{
			width: 100px; 	
		height: 100px;}
	}
	h1{
		font-size: 50px;}
}

@media screen and (max-width: 650px)
{	
	.article_body{			
		p{
			font-size: 0.7em;}
			.article_body_img{
				p{
					font-size: 0.7em;}
			}
	}

	a{
		img{
			width: 100px; 	
		height: 100px;}
	}
	h1{
		font-size: 35px;}
}


