@charset "utf-8";
@import '_normalize.scss';
/* CSS Document */
*{margin:0;
  padding:0;
  border:0;
  font-size:100%;
  font-family: "Regular";}

  html, body, .container {
	height: 100%;
  }
  
  /* Reset */
  html, body, h1, p, a, div, section {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
  }
  

body 
{
	background: url(../img/backgroundspace.jpg);
	background-size: cover;
	background-attachment:fixed;
	background-repeat: no-repeat;
	background-position: center center;
} 



header, footer, article, section, main, nav
{ 
	display:block;
}

		
header
{   margin-top:10px;
	height:150px;
    margin-left:3%;
	margin-right:3%;
    background: transparent;		 
}	
	   
h1 
{   
	float:left;
    margin-top:35px;
    margin-left:5px;
	font-size: 60px;
	color: #204060;
	-webkit-text-stroke: 1px #7878dd;
	font-family: 'Berkshire Swash', cursive;
}	

h3
	{	
float:left;
margin-left:40%;	
margin-top:2%;
		text-align: center;
		font-size: 32px;	
		font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;	
		color: #668cff;
    }
	  


nav 
{  
	border: 1px solid #809fff;
	margin-left:4%;
	margin-right:4%;
    height:48px;
	border-radius: 10px; 
	background: -webkit-linear-gradient(270deg, rgba(25, 25, 53, 0.7) 0%, rgba(25, 25, 53,0.7) 47%, rgba(7,0,54,0.7) 98%);	
}
	
		   
nav 
{
	ul 
      { 
	    list-style-type:none;
	    text-transform:uppercase;	
	    li 	 
		{	  
			a 	   
			{ 		 
				display:block;
                font-size: 20px;
	            line-height:48px;
	            text-align:center;
                color: #668cff;
	            background: transparent;		   
	            text-decoration:none;
	            font-family: 'Philosopher', sans-serif;
			}
			
			a:hover
			{
				color:white;
			}
        }
    }
}		   
nav 
{
	ul 
	{
		li
		{
			float: left;	 
			position:relative;
			cursor:pointer; 
			width: 25%;		   		   			   
			background: transparent;  
						
		    &:hover 
			{ 
	          background: #00264d;
	          transition:all .4s;				   
            }
        }
    }
}
			
	
#menu_glav
{
    border-radius: 10px 0px 0px 10px;
}				

#menu_stat
{
    
    border-radius: 0px 10px 10px 0px;
}

hr{
float:left;
border:none;
height:2px;
background-color:#809fff;
width:94%;
margin-left:3%;
margin-top:4%;
margin-bottom:2%;
}

main
{
	display: table;
	border: 1px solid #809fff;
	height:auto;	
    margin-right:4%;
	margin-left:4%;
	margin-top: 20px;
	padding-bottom: 4%;
	border-radius: 10px 10px 2px 2px;
	color:#809fff;	
	background: rgba(23, 23, 29, 0.8);	


	.video_box
    {
	border: 1px solid #809fff;
	height: 24%;
    width: 90%;
    float:left;
    margin-left: 5%;
	margin-top: 2%;
	
	
	iframe 
	{	
		border: 1px solid #809fff;	
		float: left;	
		width:50%;	
		margin: 2%;			
    }
}
}

.photo_slide
{
width: 70%;
height:300px;
margin-left:15%;

img{
border: 1px solid #809fff; 
width:100%;
height:300px;
margin-top:1%;
object-fit: cover;
}

h3{
margin-left:36%;
margin-top:2%;
}
}

.video_box{
float:left;
width:70%;
height:300px;
margin-left:15%;
margin-bottom:3%;
margin-top:2%;

iframe{
width:100%;
height:300px;
margin-top:1%;
border: 1px solid #809fff; 
}

h3{
margin:0;
margin-left:36%;
}
}
			
	
footer
{
	height: 50px;
	margin-left:4%;
	margin-right:4%;
	margin-top: 15px;
	clear:both;
	color:#6E7B8B;
	background: rgba(23, 23, 29, 0.8);
	text-align: center;
    border-radius: 2px 2px 10px 10px; 
	margin-bottom: 15px;
	border: 1px solid #809fff;
}		
	
	

.articletext
{
	padding: 1.5%;
	h2 
    {
		width:98%;
		a
	    {				
		font-size: 26px;	
		font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;	
		color: #668cff;	
		text-decoration:underline;
	    }
	
	
		a:hover
	    {
		color: white;
	    text-decoration:none;
	    }
	}
	
	p
	{
	font-size: 20px;
	margin-top:1%;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	color: white;
}
}

a 
{
	img 
	{   
		float: left; 	
		width: 135px; 	
		height: 135px;	
		margin-top:15px;
	}
}



#footer_info
{
	font-size: 14px;
	color:  #668cff;
	margin-top: 1%;

	a
	{
		color:#668cff;
	}

	a:hover
	{
		color:white;	
		text-decoration: unset;
	}
}

@media screen and (max-width: 1000px)
{
	h3{
		font-size: 0.99em;}

	.articletext{	
		h2{
			a{
				font-size: 0.97em;}}
		p{
			font-size: 0.97em;}
	}
	a{
		img{
			width: 100px; 	
		height: 100px;}
	}
	h1{
		font-size: 50px;}
     .photo_slide{
                  height:200px;
                  img{
                      height:200px;}}
.video_box{
           height:200px;
           iframe{
                  height:200px;}
}   
}

@media screen and (max-width: 650px)
{
	h3{
		font-size: 0.7em;}

	.articletext{	
		h2{
			a{
				font-size: 0.7em;}}
		p{
			font-size: 0.7em;}
	}
	a{
		img{
			width: 100px; 	
		height: 100px;}
	}
	h1{
		font-size: 35px;}
     .photo_slide{
                  height:100px;
                  img{
                      height:100px;}}
.video_box{
           height:100px;
           iframe{
                  height:100px;}
}
}